# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Temporary / test outputs
test_output/
build/
tmp/

# Formats
*.dta
*.parquet
*.xlsx

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.fls
*.fdb_latexmk
*.out
*.toc
*.xdv
*.synctex.gz
.DS_Store
